<div id="introduction">
	<h1 id="welcome">Welcome to The Bike Shed!</h1>
	<h2>Your source for used bikes in Berlin</h2>
	<p>Vivamus et enim non magna varius sollicitudin in non leo. Proin nec lorem cursus, consequat nisi non, euismod tellus. Aliquam erat volutpat. Mauris sit amet accumsan est. Nullam euismod efficitur semper. Suspendisse metus velit, posuere quis neque eu, ornare dictum tortor. Pellentesque nulla risus, dictum ut porttitor a, euismod eget diam. Duis hendrerit quam vitae dolor hendrerit consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin id vestibulum justo, ac hendrerit libero. Donec sem mauris, pharetra condimentum condimentum quis, auctor eu nulla. Nam tempor ornare tellus, quis placerat lectus viverra quis. Donec augue magna, gravida vitae pellentesque quis, consectetur a ligula. Integer ac massa et sapien gravida tincidunt.</p>

	<p>Vivamus a sem hendrerit, lacinia lacus non, suscipit ante. Donec odio lacus, tristique quis faucibus tristique, volutpat ut sem. Integer quis sagittis tortor. Nulla id elementum diam. Aliquam at felis orci. In hac habitasse platea dictumst. Aliquam molestie tincidunt cursus. Suspendisse elementum ex ac justo bibendum pretium. Pellentesque ultricies eget lacus vel convallis.</p>
</div>

<%= image_tag("bike.jpeg", class: "img-responsive my-image") %>
