<header>
	<h1>Orders</h1>
</header>

<% @orders.each do |order| %>
	<div class="container">
  	<div class="row">
  		<p>User ID: <%= order.user_id %></p>
  		<p>Product: <%= order.product.name %></p>
  		<p>Total: $<%= order.total %></p>
  	</div>
  </div>
<% end %>