// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-top: 6em;
}

#landing_page {
	margin-top: -6em;
}
#introduction,
#about,
#contact {
	text-align: center;
	text-transform: bold;
}

h4 {
	font-family: 'Abril Fatface', cursive;
}


.introduction h1 {
	color: #35A26D;
}

.navbar-header {
	float: left;
	text-transform: uppercase;
	height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar {
	min-height: 50px;
}

.nav>li {
	display: inline-block;
}


footer {
	background-color: #142952;
	color: white;
	width: 100%;
	position: relative;
	display:block;
	padding: 20px 0;
}

#copyright {
	display: block;
	margin:auto 0;
	text-align: center;
}

.social {
	display: inline-block;
	float: right;
	font-size: 2.5em;
	padding: 0 20px;
}


#bottom-logo {
	display: inline-block;
	padding-left: 30px;
	text-transform: uppercase;
	font-size: 3em;
}
.row {
	width: 75%;
	margin:0 auto;
}

#landing_page {

}

#carousel-example-generic {
	display: block;
}

.carousel-caption {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 4em;
	margin-bottom: 250px;
	color: #FCFCFC;
  text-transform: uppercase;
  font-weight: bolder;
}

.carousel-control {
	background-image: none;
	text-shadow: none;
	color: #fff !important;
	opacity: 100;
	width: 7%;
}

.carousel-btn {
  position: absolute;
  top: 25%;
  right: 50%;
}

.carousel-btn h3 {
  text-transform: uppercase;
}